@import '../../node_modules/basscss/css/basscss.css';
@import '../../node_modules/ionicons/scss/ionicons.scss';

* {
  box-sizing: border-box;
}

html,
body {
  background-color: #212121;
  color: #FFFFFF;
  font-family: 'Roboto';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto';
  // font-weight: 100;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis {
  line {
    stroke: none;
  }

  text {
    fill: #ff4136;
    font-weight: 100;
    font-size: 0.75rem;
  }

  .minor {
    stroke-opacity: .5;
  }

  path {
    fill: none;
    stroke: #ff4136;
  }
}

.y.axis {
  line,
  path {
    fill: none;
    stroke: #000;
  }
}
